---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-pink-50 text-gray-800 font-sans">
    <main class="max-w-4xl mx-auto px-4 py-16">
      <article class="prose lg:prose-xl mx-auto">
        <slot />
      </article>
    </main>
  </body>
</html>
